# Ignore project file
.idea

# Ignore Jupyter Notebook checkpoints
*-checkpoint.ipynb

# Ignore virtual environments (if you're using one)
.venv/
env/
ENV/
venv/
env.bak/
venv.bak/

# Ignore sensitive information (e.g., passwords, API keys)
.env

# Ignore SageMath parsed files
*.sage.py

# Ignore Spyder project settings
.spyderproject
.spyproject

# Ignore Rope project settings
.ropeproject

# Ignore mkdocs documentation (if applicable)
/site

# Ignore mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore Pyre type checker
.pyre/

# Ignore pytype static type analyzer
.pytype/

# Ignore certain folders
cython_debug/
/github-malyginvladimir/
/github-eightsmile/
/_playground
